body {
	font-family: 'Lato', sans-serif;
}

.navbar ul li {
	display: inline-block;
	height: 75px;
	padding-top: 25px;
	font-size: 150%;
	font-weight: 300;
}

.navbar ul li a {
	color: #d35400;
}

body, html, main {
	height: 100%;
}

main {
	margin-top: 100px;
}
