body {
    font-family: 'Lato', sans-serif;
    left: 0px;
    margin: 20px;
}

.menu {
    left: -285px;
    position: fixed;
    font-size: 580%
}

.bouton {
    position: fixed;
    font-size: 600%
}

a {
	text-decoration: none;
	color: #696969
}
